:root {
	--op85: 85%;
	--op25: 25%;
	--acc1: #D98412;
	--bg1: 44 44 44;
	--bg2: 255 255 255;
	--brd1: 1px solid rgba(var(--bg1) / var(--op85));
}

body.dark {
	--bg1: 255 255 255;
	--bg2: 44 44 44;
	--brd1: 1px solid rgba(var(--bg1) / var(--op85));
}

::-webkit-scrollbar {
	background: rgba(var(--bg1) / var(--op85)); width: 2px;
}

::-webkit-scrollbar-thumb {
	background: rgba(var(--bg2) / var(--op85));
}

body, html {
	width: 100%; height: 100%; margin: 0;
	scroll-behavior: smooth;
	color: rgba(var(--bg1) / var(--op85));
	font-family: Fira Code;
	font-weight: 400;
	font-size: 1.1vw; 
	overflow: hidden;
}

body {
	background-image: url(bg1.png); transition: 0.5s ease-out;
	background-size: cover; background-attachment: fixed; background-repeat: no-repeat;
	line-height: 1.3em; 
}

body.dark {
	background-image: url(bg2.png); transition: 0.5s ease-out; 
}

a, i {
  text-transform: uppercase; text-decoration: none; color: rgba(var(--bg1)); transition: 0.5s ease-out;
}

a:hover, a:hover i {
	color: var(--acc1); transition: 0.5s ease-out; 
}

/** VARIABLES **/
.hauto {
	height: auto;
}

.h100 {
	height: 100%;
}

.h80 {
	height: 80%;
}

.m125 {
	margin-top: 8.5vw;
}

.m60 {
	margin-top: 4vw;
}

.m25 {
	margin-top: 1.7vw;
}

.w100 {
	width: 100%;
}

.w77 {
	width: 77vw;
}

.w50 {width: 50vw;}

.w45 {width: 45vw;}

.w40 {
	width: 39.5vw;
}

.w35 {
	width: 35vw;
}

.w30 {
	width: 30%;
}

.w15 {
	width: 15vw;
}

.wfill {
	width: -webkit-fill-available;
}

.p03 {
	padding: 0 3.5vw; 
}

.frow {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;
}

.overx {
	overflow-x: hidden; overflow-y: auto;
}

.overy {
	overflow: auto;
}

/** NAVBAR **/
#navbar {
	height: 5vw; box-sizing: border-box; line-height: 1em;
	border-bottom: var(--brd1); position: fixed; top: 0;
	display: flex; align-items: center; justify-content: space-between;
	background-image: url(bg1.png); transition: 0.5s ease-out; z-index: 9;
	background-size: cover; background-attachment: fixed; background-repeat: no-repeat;
}

body.dark #navbar { 
	background-image: url(bg2.png); transition: 0.5s ease-out;
}

.navlinks {
	display: flex; position: relative;
}

.navlink {
  text-transform: uppercase; text-decoration: none;
  color: rgba(var(--bg1)); margin-right: 8.5vw; 
  position: relative; padding-bottom: 5px;
}

.underline {
  position: absolute; bottom: 0; left: 0;
  width: 0; height: 1px;
  background-color: rgba(var(--bg1) / var(--op85));
  transition: transform 0.3s, width 0.3s; transform-origin: left center;
}

.navlink.current ~ .underline,
.navlink:hover ~ .underline {
  transform: scaleX(0.5) translateX(0);
}

.navlink.current ~ .underline {
  width: 50%;
}

.navright {
	font-family: 'Font Awesome 5 Free'; font-weight: 400; cursor: pointer; color: rgba(var(--bg1) / var(--op85));
}

.navright a {
	font-family: 'Font Awesome 5 Brands'; color: rgba(var(--bg1) / var(--op85)); margin-right: 1.1vw;
}

.navright i:hover {
	color: var(--acc1); transition: 0.5s ease-out;
}

.navright i {
	font-style: normal; transition: 0.5s ease-out;
}

body.dark .lightswitch {
	font-weight: 800;
}

#wrapper {
	box-sizing: border-box; padding-bottom: 1.5vw;
}

/** NAME + DESCRIPTION **/
.header {
	line-height: 0;
	display: flex; flex-direction: column; flex-wrap: wrap;
	text-transform: uppercase;
}

.header h2 {
	color: var(--acc1); font-family: Fjalla One; font-size: 5.5vw;
}

.desc {
	margin-left: auto;
}

.desc span {
	background: rgba(var(--bg1) / var(--op85));
    color: rgba(var(--bg2) / var(--op85));
    padding: 1px 5px; position: relative;
}

.desc span:after {
	content: attr(uni-info);
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: var(--acc1);
    color: rgba(var(--bg1));
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 10px;
    top: -47px;
    left: 0; transition: 0.25s ease-out; opacity: 0;
}

.desc span:hover:after {
	opacity: 1; transition: 0.25s ease-out;
}

.container {
  height: auto; 
}

.section.projects { overflow: auto; }

.projects .container {
	opacity: var(--op25); transition: 0.5s ease-out;
}

.projects .container.show {
	opacity: 1;
}

.container i {
	font-family: 'Font Awesome 5 Free'; font-size: 1.5em; color: rgba(var(--bg1) / var(--op85)); font-weight: 800; font-style: normal;
}

.container a {
	cursor: pointer;
}

h3 {
  text-transform: uppercase; font-family: Fjalla One; font-size: 1.8em;
}

.line {
	background: rgba(var(--bg1) / var(--op85)); height: 1px;
}

.desc i {
	font-family: 'Font Awesome 5 Free'; font-weight: 800; font-style: normal; font-size: 1em; margin-left: 0.5vw;
}

/** GLASS **/
.glass {
	background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.7) 350%);
  box-shadow: 10px 5px 100px 0 rgba(var(--bg1) / var(--op25));
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(var(--bg2) / 30%);
  border-left: 0;
  border-radius: 0 1.5vw 1.5vw 0;
  overflow: hidden;
}

.skills {
	transition: 0.5s ease-out;
}

.skills span {
    background: var(--acc1);
    padding: 1px 5px;
    text-transform: uppercase;
    opacity: 0; transition: 0.5s ease-out;
}

.container.show:hover .skills {
	margin-top: 1.7vw; transition: 0.5s ease-out; transition-delay: 0.25s;
}

.container.show:hover .skills span {
	opacity: 1; transition: 0.5s ease-out; transition-delay: 0.25s;
}

/** IMAGES **/
.im {
	height: 93%; width: calc(100% + 1px);
	margin-top: 1.1vw; margin-left: -1px; transition: 0.25s ease-in-out;
}

.im.universal {
	background: url(universal.png);
  background-size: cover;
}

.im.inti {
	background: url(inti.png);
	background-size: cover;
}

.im.hub {
	background: url(hub.png);
  background-size: cover;
}

.im.royal {
	background: url(royal.png);
	background-size: cover;
}

/** FOOTER **/
.footer {
	text-transform: uppercase; height: auto; width: 50vw; display: flex; justify-content: center; margin: 1.5vw auto; padding-bottom: 3vw;
}

.footer i {
	font-family: 'Font Awesome 5 Free'; font-size: 1vw; color: rgba(var(--bg1) / var(--op25)); font-weight: 800; font-style: normal; margin: 0 1.1vw;
}

.footer b {
	margin-left: 0.5vw;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 845px) {
	body {line-height: 4em; background-image: url(bg1-rot.png); width: 100%; overflow: auto;}
	body.dark {background-image: url(bg2-rot.png);}
	#navbar {background-image: url(bg1-rot.png); font-size: 3em; height: 10vw;}
	body.dark #navbar {background-image: url(bg2-rot.png);}
	#wrapper {margin-top: 15vw;}
	.section {width: 90%; margin: 0 auto;}
	.projects {height: 100%;}
	.section.glass {margin-top: 25vw; width: 90%; height: 25%; margin: 0 auto;}
	.section {margin-top: 10vw;}
	.w45 {width: 100%;}
	.dsc {font-size: 3em}
	.skills { font-size: 2em; }
        h3 {font-size:3.5em;}
	.container i { font-size: 3em; }
}
